<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Udacity Frontend Developer Capstone Project</title>
    </head>
    <body>
        <header>
            <h1>Travel Planner</h1>
            <nav>
                <!-- add trip button -->
                <button class="add-trip-btn" onclick="Client.handleShowForm(event)">Add Trip</button>
            </nav>
        </header>
        <section class="location-form">
            <form id="add-trip-form">
                <label for="url">Enter a City Name</label>
                <input type="text" name="city" id="city"
                    placeholder="Pontiac" 
                    required>
                    <label for="start-date">Start Date</label>
                    <input type="date" name="start-date" id="start-date" required>
                    <label for="end-date">End Date</label>
                    <input type="date" name="end-date" id="end-date" required>
                <input type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event, '/callGN')" onsubmit="return Client.handleSubmit(event, '/callGN')">
            </form>
        </section>
        <div class="container">
            <section>
                <!-- image goes here-->
            </section>
            <section>
                <!-- content sections-->
                <div id="">location</div>
                <div>date</div>
                <div>buttons</div>
                <div>days away</div>
                <div>weather</div>
            </section>
        </div>
        <footer>
            Matt Christensen
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                if(location.port != 8080){
                // Use the window load event to keep the page load performant
                    window.addEventListener('load', () => {
                        navigator.serviceWorker.register('/service-worker.js');
                    });
                }
            }
        </script>
</body>
</html>