<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Udacity Frontend Developer Capstone Project</title>
    </head>
    <body>
        <header>
            <h1>Travel Planner</h1>
            <nav>
                <!-- add trip button -->
                <button class="add-trip-btn" onclick="Client.handleShowForm(event)">Add Trip</button>
            </nav>
        </header>
        <section class="location-form">
            <form id="add-trip-form">
                <label for="url">Enter a City Name:  </label>
                <input type="text" name="city" id="city"
                    placeholder="Pontiac" 
                    required><br/>
                    <label for="start-date">Start Date:  </label>
                    <input type="date" name="start-date" id="start-date" required><br/>
                    <label for="end-date">End Date:  </label>
                    <input type="date" name="end-date" id="end-date" required><br/>
                <input type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event, '/callGN')" onsubmit="return Client.handleSubmit(event, '/callGN')">
            </form>
        </section>
        <div class="container">
            <div id="current-trip">
            <div class="flex-container">
            <section>
                <img id="current-trip-pic" src="" />
            </section>
            <section class="current-trip-info">
                <!-- content sections-->
                <div id="current-trip-location">My trip to: <span id="current-trip-city"></span>, <span id="current-trip-country"></span></div>
                <div id="current-trip-depart">Departing: <span id="current-trip-start-date"></span></div>
                <div id="current-trip-depart">Returning: <span id="current-trip-end-date"></span></div>

                <div>
                    <button onclick="window.print();">save trip</button>
                    <button onclick="Client.removeTrip()">remove trip</button>
                </div>
                <div id="current-trip-days-away"></div>
                <div id="current-trip-duration"></div>
                <div id="weather">
                    <p>Typical weather for then is:</p>
                    <p>
                        High: <span id="current-trip-high-temp"></span>, 
                        Low: <span id="current-trip-low-temp"></span>
                    </p>
                    <p id="current-trip-weather-desp"></p>
                </div>
            </section>
            </div>
            </div>
        </div>
        <footer>
            Udacity Capstone Project by Matt Christensen
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                if(location.port != 8080){
                // Use the window load event to keep the page load performant
                    window.addEventListener('load', () => {
                        navigator.serviceWorker.register('/service-worker.js');
                    });
                }
            }
        </script>
</body>
</html>